body {
  margin: 0px;
  padding: 0px;
}

.main__page {
  background: linear-gradient(rgb(253, 245, 255, .6), rgba(253, 245, 255, .6)),
  url(https://images.unsplash.com/photo-1555202926-4703eaa1fa74?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=668&q=80);
  background-position: center;
  background-size: cover;
  column-count: 3;
  column-width: 5em;
  color: white;
  margin: 0px;
  padding-top: 40px;
}

header {
  background-color: rgb(55, 18, 75);
  border-bottom: solid 4px rgb(255, 255, 255);
  color: white;
  font-size: 1.4em;
  opacity: .9;
  height: 250px;
  text-align: center;
}

h1 {
  font-size: 4.8em;
  font-family: 'Cabin', sans-serif;
  margin: 0px 0px 40px 0px;
  padding-top: 30px;
}

h2 {
  display: inline-block;
  font-size: .9em;
  margin: 0px 70px 0px 70px;
}

.h2__name {
  font-size: 1.5em;
}

section {
  display: inline-block;
  background-color: rgb(55, 18, 75);
  border: solid 6px rgb(32, 11, 43);
  font-size: 1.8em;
  height: 15%;
  margin: 35px;
  opacity: .9;
  padding: 10px;
  text-align: center;
  width: 82%;
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-property: transform;
  transition-property: transform;
}

.div__account--info {
  font-size: .7em;
}

button {
  background-color: lightgray;
  border-radius: 10px;
  border: solid 2px deepskyblue;
  color: rgb(32, 11, 43);
  cursor: pointer;
  display: inline-block;
  font-size: 1.8em;
  height: 15%;
  margin: 10px;
  opacity: .9;
  padding: 10px;
  text-align: center;
  width: 82%;
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-property: transform;
  transition-property: transform;
}

button:hover {
  transform: scale(1.2);
}

button:focus,
button:visited {
  outline: none;
}

section:hover {
  opacity: 1;
  -webkit-transform: scale(1.1);
  transform: scale(1.1);
}

.section__goal--exceed {
  cursor: pointer;
  height: 900px;
  left: 0;
  overflow-y: scroll;
  position: absolute;
  top: 213px;
  width: 95%;
  z-index: 100;
}

ul {
  padding: 0;
}

li {
  list-style-type: none;
  margin: 15px;
  text-align: center;
}

#li__step--streak--js {
  color: mediumspringgreen;

}

#li__min--streak--js {
  color: deepskyblue;
}

.p__user--friends,
.span__sleep--average--hours {
  border-bottom: solid 4px rgb(32, 11, 43);
  padding-bottom: 40px;
}

h4 {
  font-size: 1.2em;
  margin: 10px;
}

p {
  font-size: 1.1em;
}

span {
  font-size: 1.1em;
}

.p__user--sleep-last--night {
  border-bottom: solid 4px rgb(32, 11, 43);
  padding-bottom: 40px;
}

.p__display--miles {
  font-size: 2em;
  font-weight: bold;
}

table {
  border-spacing: 10px;
  border-collapse: collapse;
}

td,
th {
  border: 1px solid darkgray;
  padding: 8px;
}

.td__table--steps {
  color: mediumspringgreen;
}

.td__table--stairs {
  color: magenta;
}

.td__table--minutes {
  color: deepskyblue;
}

.water__img,
.sleep__img,
.shoe__img  {
height: 100px;
margin-bottom: 35px;
width: 100px;
}

.sleep__img--avg,
.sleepy__img,
.goal__img {
  height: 175px;
  width: 175px;
}

.hydration__chart,
.sleep__chart--quality,
.step__chart--friends--steps,
.sleep__chart--hours {
  background-color: rgb(55, 18, 75);
  border: solid 6px rgb(32, 11, 43);
  margin: 45px;
  opacity: .9;
  width: 82%;
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-property: transform;
  transition-property: transform;
}

.hydration__chart:hover,
.sleep__chart--quality:hover,
.step__chart--friends--steps:hover,
.sleep__chart--hours:hover {
  opacity: 1;
  transform: scale(1.1);
  -webkit-transform: scale(1.1);
}

.hide {
  display: none;
}
