body {
  display: grid;
  margin: 0px;
}

main {
  color: white;
  display: grid;
  margin: 0px;
}

.main__page {
  background: linear-gradient(rgb(253, 245, 255, .6), rgba(253, 245, 255, .6)),
  url(https://images.unsplash.com/photo-1555202926-4703eaa1fa74?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=668&q=80);
  background-position: center;
  background-size: cover;
  width: 100%;
}

header {
  background-color: rgb(55, 18, 75);
  border-bottom: solid 4px rgb(255, 255, 255);
  color: white;
  font-size: 1.4em;
  opacity: .9;
  text-align: center;
}

section {
  background-color: rgb(55, 18, 75);
  border: solid 6px rgb(32, 11, 43);
  cursor: pointer;
  float: left;
  font-size: 1.8em;
  margin: 15px;
  opacity: .9;
  padding: 10px;
  text-align: center;
  width: 330px;
}

section:hover {
  opacity: 1;
}

h4 {
  font-size: 1.3em;
}

p {
  font-size: .9em;
}

.water__img,
.sleep__img {
height: 100px;
margin-bottom: 35px;
width: 100px;
}

.sleep__img--avg,
.sleepy__img  {
  height: 175px;
  width: 175px;
}

.hydration__chart,
.sleep__chart--quality {
  background-color: rgb(55, 18, 75);
  border: solid 6px rgb(32, 11, 43);
  opacity: .9;
  margin: 200px;
  width: 40%;
}
